@import "./home";

#about {
    @extend #home;
    #about-hero {
        background-image: url("../../images/moon_phases.jpg");
        background-repeat:no-repeat;
        background-size:cover;
        background-position:center;
        min-height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // .hero-container {
        //     background-image: url("../../images/moon_phases.jpg");
        //     max-height: 400px;

        //     .col-12 {
        //         padding-right: 0px;
        //     }

        //     img {
        //         min-height: 300px;
        //         max-height: 400px;
        //     }
        // }
    }

    .about-info {
        padding-top: 75px;

        @media (min-width: 992px) {
            padding-top: 150px;
        }
        
        .about-container {
            .about-content {
                h2 {
                    padding-left: 0;
                }
                @media (min-width: 992px) {
                    margin-right: -10%;
                }
                .pillar-items {
                    margin: 50px 0;
                    .pillar-content {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                    }
                }
                .about-content-description {
                    margin: 50px 0;
                }
                
            }
            .about-social {
                @media (min-width: 992px) {
                    margin-left:-10%;
                }
                
                ul.social-list {
                    // @media (min-width: 992px) {
                    //     position: relative;
                    //     width: 170px;
                    //     left: 780px;
                    //     bottom: 700px;
                    // }
                    // @media (min-width: 1200px) {
                    //     position: relative;
                    //     left: 460px;
                    //     bottom: 725px;
                    // }
                    list-style-type: none;
                    margin: 0;
                    padding: 0;
                    li {
                        display: inline-block;
                        i {
                            font-size: 60px;
                            margin: 0 20px;
                            @media (min-width: 992px) {
                                font-size: 24px;
                                margin: 0 3px;
                            }
                        }
                    }
                }
            }
        }
        // @include media-breakpoint-up(lg) {
		// 	padding-top: 100px;
        //     padding-bottom: 100px;
        //     padding-left: 150px;
        //     padding-right: 150px;
        // }
        
    }
    
    #work-with-us {
        .col-12 {
            padding-right: 0px;
        }

        .wwu-row {
            background-image: url("../../images/gazing_openly.jpg");
            background-repeat:no-repeat;
            background-size:100% 100%;
            background-position:center;
            min-height: 500px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .col-12 {
                margin: 20px 0;
            }
        }

        .row {
            margin: 20px 0;
        }
    }

    #responsible {
        padding: 150px 0;
    }
}