@import 'slick';
@import 'slick-theme';
.slick-prev, .slick-next {
	display: none!important;
	@include media-breakpoint-up(md){
		display: inline-block!important;
	}
	&:before {
		color: $secondary;
	}
}
.slick-dots li.slick-active button:before {
	color: $secondary;
}
.slick-dots li button:before {
	font-size: 1rem;
}